nav{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
#shopping_list{
 display: inline-block;
  text-align: center;
  width: 1000px;
  height: 50px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #8C8F8C;
  margin-right: 15px;
  margin-bottom: 15px;
  position: absolute;
    left: 100px;
    top: 150px;
}
