html{
  background-color: green;
  font-color: white;
 }
header {
   display: inline-block;
   width: 100%;
   padding: 5px;
}
#col_1{
  display: inline block;
  padding: 10px;
}
h1{
  text-align: center;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 250px;
}
#col_1 p, h1{
  float: left;
}
